:root {
  --color-50: #f2f1e9;
  --color-100: #e1dfcc;
  --color-200: #d1cdb0;
  --color-300: #c0bb94;
  --color-400: #afa977;
  --color-500: #9d965c;
  --color-600: #817b4c;
  --color-700: #65603b;
  --color-800: #49452b;
  --color-900: #2c2a1a;
  --color-950: #100f09;
  --color-btn: #030626;
  --color-comp: #ffffff;
  --color-fondo: #f5f5f5;
}
